<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div>
        <h1>Login into your account</h1>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="">Username</label>
            <input type="text" name="username" placeholder="Enter your username" required>
        </div>



        <div>
            <label for="">password</label>
            <input type="password" name="password" placeholder="Enter your password" required>
        </div>

        <button type="submit">Login</button>
    </form>
</body>
</html>